.filter-button {
  cursor: pointer;
}

.dropdown_content_ingredient,
.dropdown_content_appliance,
.dropdown_content_ustensil {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.active {
  display: block;
}

.dropdown_content {
  max-height: 250px;
  overflow-y: scroll;
  max-width: 180px;
  border-radius: 0 0 10px 10px;
  scrollbar-width: none;
  background-color: white;
}

.dropdown_content ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.dropdown_content ul li {
  font-size: 14px;
  width: 180px;
  padding-block: 2px;
}

.dropdown_item {
  cursor: pointer;
  margin-inline-end: 5px;
  width: 100%;
  text-align: start;
  padding-inline-start: 15px;
  border: none;
  background-color: white;
}

.dropdown-open {
  border-radius: 10px 10px 0 0;
}

#ingredient_input,
#appliance_input,
#ustensil_input {
  width: 80%;
  padding-block: 5px;
  border: 1px solid #ccc;
  margin-block-start: 5px;
  padding-inline-start: 10px;
  border-radius: 2px;
}

.dropdown_search {
  display: flex;
  align-items: center;
}

.dropdown_search_icons {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-inline-start: -37px;
  margin-block-start: 5px;
}

.dropdown_search_input {
  padding-inline-end: 20px;
  margin-inline-start: 18px;
}
